<Navigation>
  <nav id="navigation">
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/view/Users">users</a></li>
      <li><a href="#/view/List">list</a></li>
    </ul>
  </nav>
</Navigation>
